.card {
    max-width: 377px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: $block-bg;
    position: relative;

    &:hover>.card__img>.card__img-hover {
        display: flex;
    }
    &:hover>.card__img>.card__img-item {
        opacity: .5;
        cursor: pointer;
        transition: opacity .3s;
    }
    &:hover>.card__img--deal>.card__img-item {
        opacity: initial;
        cursor: pointer;
    }

    @media(min-width:480px) {
        min-height: 400px;
    }
    &--deal {
        padding: 30px 25px;
        margin: 15px;
        max-width: 360px;
        max-height: initial;
        background-color: $body-bg;
        padding: 20px;

        @media(min-width:480px) {
            margin: auto;
        }
        @media(min-width:1600px) {
            margin: 0 0 0 35px;
            // position: absolute;
            // top: 0;
            // right: 5%;
        }
        // @media(min-width:1700px) {
        //     right: 8%;
        // }
        // @media(min-width:1800px) {
        //     right: 11%;
        // }
    }
    &__img {
        position: relative;
        display: flex;
        justify-content: center;

        &--deal {
            position: initial;
        }

        &-btn {
            margin: initial;
        }

        &-hover {
            position: absolute;
            bottom: -12px;
            width: 100%;
            display: none;
        }

        &-item {
            max-width: 100%;
        }
        
    }
    &__triangle {
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 2em 2em 2em 2em;
        border-color: $red-color $red-color transparent transparent;

        @media(min-width:480px) {
            border-width: 2.5em 2.5em 2.5em 2.5em;
        }

        &>p {
            position: absolute;
            bottom: 0;
            left: -5px;
            font-size: 12px;
            line-height: 18px;
            font-weight: 900;
            color: #ffffff;

            @media(min-width:480px) {
                bottom: 5px;
                left: -6px;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        padding: 15px 5px;

        @media(min-width:480px) {
            padding: 25px;
        }
        &--deal {
            padding: 15px 0;
            @media(min-width:480px) {
                padding: 25px 0;
            }
        }
        &-title {
            font-size: 14px;
            line-height: 40px;
            font-weight: 700;
            color: #ffffff;

            @media(min-width:480px) {
                font-size: 18px;
            }
            &--crash {
                line-height: 20px;

                @media(min-width:600px) {
                    line-height: 40px;
                }
            }
        }
        &-rang {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            cursor: pointer;
            border-bottom: 2px solid $border-color;
            padding-bottom: 10px;
            width: 100%;
            

            @media(min-width:480px) {
                flex-direction: initial;
                align-items: center;
                width: 100%;
            }
        }
        &-stars {
            display: flex;
            &>svg {
                width: 18px;
                height: 18px;
                fill: $orange-color;
                margin: 0 3px;
                &:nth-of-type(5) {
                    fill: #000000;
                    stroke-width: 5px ;
                    stroke: $orange-color;
                }
            }
            
        }
        &-cost {
            display: flex;
            &>p {
                &:nth-of-type(1) {
                    font-size: 12px;
                    line-height: 40px;
                    font-weight: 400;
                    text-decoration: line-through;
                    color: $form-text-color;

                    @media(min-width:480px) {
                        font-size: 14px;
                    }
                }
                &:nth-of-type(2) {
                    font-size: 16px;
                    line-height: 40px;
                    font-weight: 900;
                    color: $pink-color;
                    margin-left: 15px;

                    @media(min-width:480px) {
                        font-size: 20px;
                    }
                }
            }
            &--nosale {
                &>p {
                    &:nth-of-type(1) {
                        font-size: 16px;
                        line-height: 40px;
                        font-weight: 900;
                        color: $pink-color;
                        margin-left: 15px;
                        text-decoration: initial;
    
                        @media(min-width:480px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        &-desc {
            font-size: 12px;
            line-height: 20px;
            font-weight: 300;
            color: $dark-text-color;
            padding-top: 10px;

            @media(min-width:480px) {
               font-size: 14px;
            }
        }
    }
    &__title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        padding: 15px 0;
    }
    &__countdown {
        display: flex;
        text-align: center;

        &-number {
            width: 80px;
            background: $block-bg;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-time {
            font-size: 24px;
            line-height: 40px;
            font-weight: 900;
            color: $orange-color;
        }
        &-text {
            font-size: 12px;
            line-height: 40px;
            font-weight: 900;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
}