.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
    background-color: $body-bg;
    border-bottom: 1px solid $border-color;
    max-width: 1980px;
    margin: 0 auto;

    &__container {
        max-width: 1560px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        min-height: 65px;
        height: 100%;
        position: relative;

    }
    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 70px;
        padding: 15px 15px 70px 15px;
        transform: translateX(100%);
        width: 100%;
        height: 100%;
        z-index: 50;
        transition: transform .3s ease-in-out;
        background-color: $body-bg;
        overflow: auto;

        @media (min-width: 992px) {
            position: fixed;
            top: 91px;
            left: 0;
            right: 0;
            transform: inherit;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            justify-content: center;
            align-items: center;
            // margin-top: 91px;
            padding: initial;
            width: 100%;
            height: 80px;
            background-color: $body-bg;
            max-width: 1980px;
            margin: 0 auto;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}