.slider {
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;

    &-container {
        width: 100%;
        margin-top: 70px;
        max-height: 350px;

        @media(min-width:992px) {
            margin-top: 171px;
            max-height: 550px;
        }

        &--testi {
            margin-top: initial;
            max-height: 450px;

            @media(min-width:992px) {
                max-height: 650px;
            }
        }
    }
    &-wrapper {
        position: relative;
    }
    &-slide {
        position: relative;

    }
    &-img {
        object-fit: cover;
        object-position: center;
    }
    &__block {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;

        @media(min-width:992px) {
            justify-content: center;
        }

        @media(min-width:1600px) {
            align-items: flex-start;
        }

        &-photo {
            width: 125px;
            height: 125px;
            background-color: #ffffff;
            border: 2px solid $orange-color;
            border-radius: 50%;
            background-image: url(../img/valerie_men.jpg);
            background-repeat: no-repeat;
            background-position: 50% 30%;
        }

        &--testi {
            
            @media(min-width:992px) {
                justify-content: center;
            }
            @media(min-width:1600px) {
                align-items: center;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            min-height: 250px;
            max-width: 550px;
            color: #ffffff;
            padding: 0 10px;

            @media(min-width:992px) {
                min-height: 300px;
            }

            @media(min-width:1600px) {
                align-items: flex-start;
                text-align: left;
            }

            &--testi {
                max-width: 1295px;
                min-height: 400px;
                @media(min-width:1600px) {
                    align-items: center;
                    text-align: center;
                }
            }
        }
        &-title {
            @include adaptive-font(90, 36);
            text-transform: uppercase;
            font-weight: 700;
            font-family: 'Josefin Sans', sans-serif;

            @media(min-width: 2000px) {
                font-size: 90px;
            }

            &--testi {
                font-size: 18px;
                font-weight: 900;
                color: $orange-color;

                @media(min-width: 480px) {
                    font-size: 20px;
                }
            }
        }
        &-subtitle {
            @include adaptive-font(50, 25);
            text-transform: uppercase;
            font-weight: 400;
            font-family: 'Josefin Sans', sans-serif;

            @media(min-width: 2000px) {
                font-size: 50px;
            }
        }
        &-text {
            @include adaptive-font(18, 16);
            font-weight: 400;
            line-height: 25px;
            padding: 0 15px;

            @media(min-width:992px) {
                padding: initial;
            }

            &--testi {
                font-size: 18px;
                line-height: 26px;

                &_hidden {
                    display: none;

                    @media(min-width:992px) {
                        display: block;
                    }
                }
            }
        }
    }
    &-pagination {

        @media(min-width:992px) {
            bottom: 50px !important;
        }
        @media(min-width: 1600px) {
            margin: 0 11% !important ;
            text-align: left !important;
        }

        &--testi {
            @media(min-width:992px) {
                bottom: 10px !important;
            }
            @media(min-width: 1600px) {
                margin: initial !important ;
                text-align: center !important;
            }
        }
        &>.swiper-pagination-bullet {
            width: 13px !important;
            height: 13px !important;
            display: inline-block !important;
            border-radius: 50% !important;
            background: #ffffff !important;
            opacity: .5 !important;

            &-active {
                opacity: inherit !important;
                background-color: $orange-color !important;
            }
        }
    }
}