$body-bg: #252129;
$orange-color: #ffb400;
$orange-btn-color: #ff7413;
$orange-gradient: linear-gradient(90.0deg, #ff7214 0%, #ffb702 100%);
$purple-color: #664480;
$purple-gradient: linear-gradient(to right, #664480, #ba64c2);
$pink-color: #ff6c84;
$form-text-color: #867594;
$border-color: #433c48;